<section class="row">
    
<!--Home Page
Home page will have 3 articles in the main content. Analyze the topics and have your say. You may or may not use supporting sources - if you do, citing the sources is mandatory.

Article 1 - topic: The Value of Money;

Article 2 - topic: GMO food;

Article 3 - topic: The View of World in 2100;-->
<div class="header_home_image">
      <img src="img/header_home.jpg" alt="">
      <div class="header_text">
      <h1 class="tagline">A camera that puts a world of possibilities at your fingertips. Literally.</h1>
    </div>
</div>
<div class="home_article1">
    <h1>Photography</h1>
    <div class="col-lg-2">
            <img src="img/article_1_photography.jpeg" alt="img/article_1_photography.jpeg"" /> 
</div>

<div class="col-lg-11">
    <div>
    <p>Digital cameras today offer superb image quality that competes directly with film.

        These cameras look and act like traditional cameras with a few extra features. Tricky camera designs are quickly leaving the marketplace because photographers want to take pictures and not be bogged down by hard-to-use technology.
        
        Many things about digital cameras are identical to film cameras, a few things are slightly tweaked from film expectations, and a number of features are unique to digital photography. Some of the big differences can actually help you take better pictures than you ever did with a film camera.
        
        For quality results from any camera, the basics of photography still apply no matter how an image is captured. A tripod is always important if slow shutter speeds are needed and big telephoto lenses are used. Fast shutter speeds remain a key way to stop action, and f-stops continue to affect depth of field. The important parts of a scene still need to have the focus centered on them, and dramatic light always helps make for dramatic photos.
        
        The "digital" in digital camera has caused even experienced photographers to worry that this new technology will be difficult to master. But consider this: No beginner ever picked up a camera and knew what all the controls did. For the serious photographer, f-stops and shutter speeds were definitely not instinctive.</p>
        <h2>Types of Cameras</h2>
        <p>Digital cameras come in a variety of forms, from point-and-shoot pocket cameras to advanced digital SLRs. There is no right or wrong type, though a specific one may be best for you and your photography.

            Simple point-and-shoot digital cameras can give surprising quality when they have the right lenses and sensors. Because they are totally automatic in focus and exposure, they just have to be pointed at a subject and clicked. They have limited capabilities for controlling the image, although even very inexpensive cameras often have white balance controls. Some are exceptionally compact, able to fit easily into a shirt pocket, making them ideal cameras to keep at hand so you won't miss a great photo opportunity.
            Advanced point-and-shoot cameras are similar in that they mostly rely on automatic controls; however, this group tends to add special features to make the cameras a little more flexible. Such features include exposure compensation, more white balance controls, limited manual settings, and more. Still relatively inexpensive, these cameras can be a good introduction to digital and are perfect for the families of serious photographers.

            Interchangeable-lens, digital SLRs offer all the controls of a 35mm SLR, including lenses that give you a wealth of focal-length possibilities. These cameras are definitely bigger than the other digital cameras. They include complete and extensive photographic controls, the best in image-sensor and processing technology, high levels of noise control, and more. The LCD panel on the back of an SLR can be used only for reviewing images, since the sensor cannot provide "live" images due to the mirror design.
        </p>
        <h2>Shoot It Right From the Start</h2>
        <p>The way to get the best photos from a digital camera is to do it right from the start. Yet there is an idea that one doesn't need to devote much effort when you have the computer to "help." This idea has sometimes reached almost surreal proportions. A couple of years ago, a digital photography article in a major news magazine said software was available that would automatically transform amateurs' photos into images that would rival the best of pros. That software never existed, nor will it, because good photography has always been about art and craft; about understanding the tools of the craft and using them well; and about perception and the ability to capture an image that catches an audience's attention and communicates well.

            Just remember that digital photography is still photography.</p>
        <h2>The Basics</h2>
        <p>The most common mistake people make is camera shake. When you move the camera inadvertently at the time you press the shutter, you risk the chance of blurring your image or reducing the sharpness of the image. Keep it steady!</p>

        <h2>Exposure</h2>
        <p>Most point-and-shoot cameras have a simple exposure override facility, normally allowing you to overexpose or underexpose your picture. So if the subject is predominantly dark, experiment by overexposing to compensate. If the subject is predominantly light, then underexposure is the way to go. Try taking a test picture, look at it on the screen on the back of your camera, check the histogram, and adjust your exposure compensation. Don't be afraid to shoot four or five versions, as the LCD screen is not always accurate. You can delete the bad pictures later.</p>

        <h2>Composition</h2>
        <p>A very basic rule of composition is known as the rule of thirds, or the tic-tac-toe rule. Imagine your viewfinder or LCD monitor divided into nine equal-size squares, like a tic-tac-toe grid. Compose your picture with your subject center-positioned at one of the four intersecting points. This should help you compose more aesthetic portraits.</p>
        
        <h2>Zoom</h2>
        <p>Your point-and-shoot camera will probably have an autofocus zoom lens. You will discover that the ability to zoom in on your subject is fantastic. Get bold. Use your zoom lens and compose your picture with the subject filling your frame. To start with, I'd be surprised if you don't get a lot of pictures that are small in the frame. When you look through the viewfinder, look at the whole picture frame and how big the subject is in your picture, not just into the eyes of the person you're photographing.</p>

        <h2>Changing the Point of View</h2>
        <p>Another thing to consider when taking your picture is your point of view. A picture can be more interesting when taken from an unusual angle. Don't be afraid to lie down and look up at your subject, a particularly dynamic approach when photographing pets or children and also less threatening to your subject. Equally, you could try climbing up to a higher viewpoint and looking down on your subject. Better yet, try both and then delete the one you like less.</p>

        <h2>Transferring Digital Images</h2>
        <p>Digital cameras today come with some way of transferring the photos to the computer. This usually involves some sort of cable, although some cameras are using infrared and other wireless technologies. Direct connection may not be the best way for photographers to get photos onto the computer's hard drive, however. Many people find a card reader much more convenient.</p>

        <h2>Keys to Working in the Digital Darkroom</h2>
        <p>Many photographers have tried to work with image-processing programs such as Adobe Photoshop and found the whole process difficult, intimidating, and tedious. One big reason this occurs is that much of the instruction in books and classes takes the wrong approach for photographers: It dwells on the software and not the photography.

            The photo "rules." This is an important thing to remember. When the software is "in charge," the focus is not on the image; it is on learning and memorizing all the functions of the program. Many photographers have sat through classes that taught them about such things as selections and layers long before they had any idea why they might want to have such knowledge. This was simply because the instructor thought these things were key elements of Photoshop.
            
            As a photographer, you know your photos and what you want them to do. Sure you might not know everything you can do with an image in the program, but that is less important than why you took the photo. Only you can know this, and your photographic intent will guide you, even through Photoshop, on a sure-and-steady, craft-driven journey that is not obsessed with technology.
            
            Experimenting without fear is another key idea for using the digital darkroom. Often, photographers have had to pay a price for experimenting, and many have gotten cautious and brought that caution with them into the digital darkroom. Just remember that there is little you can do to an image in the computer that can't be undone. Let yourself go, and don't be afraid to experiment.</p>

        </div>

    </div>
</div>

</section>

<section class="row">
    <div class="home_article2">
        <h1>Understanding Web Design</h1>
        <div class="col-lg-2">
        <img src="img/article_2_web_design.jpeg" alt="">
    </div>
        <div class="article2_div">

            <div class="col-lg-11">
        <p>We get better design when we understand our medium. Yet even at this late cultural hour, many people don’t understand web design. Among them can be found some of our most distinguished business and cultural leaders, including a few who possess a profound grasp of design—except as it relates to the web.
            Some who don’t understand web design nevertheless have the job of creating websites or supervising web designers and developers. Others who don’t understand web design are nevertheless professionally charged with evaluating it on behalf of the rest of us. Those who understand the least make the most noise. They are the ones leading charges, slamming doors, and throwing money—at all the wrong people and things.

If we want better sites, better work, and better-informed clients, the need to educate begins with us.
        </p>

        <h2>Preferring real estate to architecture</h2>
        <p>It’s hard to understand web design when you don’t understand the web. And it’s hard to understand the web when those who are paid to explain it either don’t get it themselves, or are obliged for commercial reasons to suppress some of what they know, emphasizing the Barnumesque over the brilliant.

            The news media too often gets it wrong. Too much internet journalism follows the money; too little covers art and ideas. Driven by editors pressured by publishers worried about vanishing advertisers, even journalists who understand the web spend most of their time writing about deals and quoting dealmakers. Many do this even when the statement they’re quoting is patently self-serving and ludicrous—like Zuckerberg’s Law.
            
            It’s not that Zuckerberg’s not news; and it’s not that business isn’t some journalists’ beat. But focusing on business to the exclusion of all else is like reporting on real estate deals while ignoring architecture.
            
            And one tires of the news narrative’s one-dimensionalism. In 1994, the web was weird and wild, they told us. In ’99 it was a kingmaker; in ’01, a bust. In ’02, news folk discovered blogs; in ’04, perspiring guest bloggers on CNN explained how citizen journalists were reinventing news and democracy and would determine who won that year’s presidential election. I forget how that one turned out.
            
            When absurd predictions die ridiculous deaths, nobody resigns from the newsroom, they just throw a new line into the water—like marketers replacing a slogan that tanked. After decades of news commoditization, what’s amazing is how many good reporters there still are, and how hard many try to lay accurate information before the public. Sometimes you can almost hear it beneath the roar of the grotesque and the exceptional.</p>

        <h2>THE SUSTAINABLE CIRCLE OF SELF-REGARD</h2>
        <p>News media are not the only ones getting it wrong. Professional associations get it wrong every day, and commemorate their wrongness with an annual festival. Each year, advertising and design magazines and professional organizations hold contests for “new media design” judged by the winners of last year’s competitions. That they call it “new media design” tells them nothing and you and me everything.

            Although there are exceptions, for the most part the creators of winning entries see the web as a vehicle for advertising and marketing campaigns in which the user passively experiences Flash and video content. For the active user, there is gaming—but what you and I think of as active web use is limited to clicking a “Digg this page” button.
            
            The winning sites look fabulous as screen shots in glossy design annuals. When the winners become judges, they reward work like their own. Thus sites that behave like TV and look good between covers continue to be created, and a generation of clients and art directors thinks that stuff is the cream of web design.</p>

        <h2>DESIGN CRITICS GET IT WRONG, TOO</h2>
        <p>People who are smart about print can be less bright about the web. Their critical faculties, honed to perfection during the Kerning Wars, smash to bits against the barricades of our profession.

            The less sophisticated lament on our behalf that we are stuck with ugly fonts. They wonder aloud how we can enjoy working in a medium that offers us less than absolute control over every atom of the visual experience. What they are secretly asking is whether or not we are real designers. (They suspect that we are not.) But these are the juniors, the design students and future critics. Their opinions are chiefly of interest to their professors, and one prays they have good ones.
            
            More sophisticated critics understand that the web is not print and that limitations are part of every design discipline. Yet even these eggheads will sometimes succumb to fallacious comparatives. (I’ve done it myself, although long ago and strictly for giggles.) Where are the masterpieces of web design, these critics cry. That Google Maps might be as representative of our age as the Mona Lisa was of Leonardo’s—and as brilliant, in its way—satisfies many of us as an answer, but might not satisfy the design critic in search of a direct parallel to, oh, I don’t know, let’s say Milton Glaser’s iconic Bob Dylan poster.</p>
   

        <h2>Typography, architecture, and web design</h2>
            <p>The trouble is, web design, although it employs elements of graphic design and illustration, does not map to them. If one must compare the web to other media, typography would be a better choice. For a web design, like a typeface, is an environment for someone else’s expression. Stick around and I’ll tell you which site design is like Helvetica.

                Architecture (the kind that uses steel and glass and stone) is also an apt comparison—or at least, more apt than poster design. The architect creates planes and grids that facilitate the dynamic behavior of people. Having designed, the architect relinquishes control. Over time, the people who use the building bring out and add to the meaning of the architect’s design.
                
                Of course, all comparisons are gnarly by nature. What is the “London Calling” of television? Who is the Jane Austen of automotive design? Madame Butterfly is not less beautiful for having no car chase sequence, peanut butter no less tasty because it cannot dance.</p>
   
                <h2>SO WHAT IS WEB DESIGN?</h2>
                <p>Web design is not book design, it is not poster design, it is not illustration, and the highest achievements of those disciplines are not what web design aims for. Although websites can be delivery systems for games and videos, and although those delivery systems can be lovely to look at, such sites are exemplars of game design and video storytelling, not of web design. So what is web design?

                    Web design is the creation of digital environments that facilitate and encourage human activity; reflect or adapt to individual voices and content; and change gracefully over time while always retaining their identity.
                    
                    Let’s repeat that, with emphasis:
                    
                    Web design is the creation of digital environments that facilitate and encourage human activity; reflect or adapt to individual voices and content; and change gracefully over time while always retaining their identity.</p>


                </div>


        </div>
    </div>
    </section>


    <section class="row">
        <div class="home_article3">
            <h1>User Experience (UX) Design</h1>
            <div class="col-lg-2">
            <img src="img/article_3_UX_design.jpeg" alt="">
        </div>
            <div class="article3_div">
                <div class="col-lg-11">
                <p>The user experience (UX) is what a user of a particular product experiences when using that product. A UX designer’s job is thus to create a product that provides the best possible user experience. How does that happen?

                    Well, it starts with a lot of research. You can’t create anything of value to a user unless you understand what kind of problems they want to solve and how you can solve those problems, so that the user will want—or better still, need—your solution. You can only get that understanding by interacting with users.
                    
                    UX designers tend to be concerned with, as you can see from the image below, 3 primary factors: the look of a product, the feel of that product and the usability of that product.</p>
                
                    <p>The look of a product is all about creating a product that has visual appeal and which, in particular, harmonizes with a user’s values and captures the spirit of what they expect in that product. In other words, it has to not only look nice, but look right too. In doing so, it establishes a bond of trust and credibility between the product and the user.

                        Next is the feel, which is really about developing products that are “a joy to use”. That is, whether you’re interacting with them or reacting to them, products should provide a pleasurable experience and not just a functional one.
                        
                        Lastly, usability is the cornerstone of user experience. If a product isn’t usable, the experience of using it can never be good. UX designers want to create products which can, ideally, be tailored to meet a user’s specific needs, but which provides functionality that is predictable.</p>
                    
                        <h2>Emotional Design</h2>
                <p>Graphic design is about emotional communication through typography, color and images; serif fonts and dark, duller colors evoke seriousness, while san-serif fonts and bright colors tend to bring out a sense of joy or excitement. Graphic designers are hence very often emotional designers who elicit specific reactions in a user. UX design is also concerned with shaping the emotions of the user, although it tends to take a broader, big picture view of the entire user’s experience with the product. On top of focusing on the right typography and colors, UX designers are also concerned with motion design, the tone of the content, and information architecture, among others.</p>

                <h2>Creative thinking</h2>
                <p>Graphic designers and UX designers are both equally skilled at creative thinking. For graphic designers, creating visuals that adhere to conventions (and thus communicate effectively) while retaining a sense of originality (to stand out among the competition) requires some serious creative and critical thinking. In the same way, UX designers have to create products that solve users’ problems—and sometimes, conventional solutions aren’t always the best or most appropriate ones.</p>


                <h2>Prototyping</h2>
                <p>Graphic designers often create mockups and wireframes of their designs prior to delivering a finished design. It gives a chance for clients to offer feedback on their designs and for them to improve them without having to start from scratch. UX designers create mockups and prototypes too, but these tend to be less focused on the “look” of the product and more on the “feel” of it. Is the prototype useful? Is it usable? Is it desirable? These are the questions a UX designer wants answers to.</p>

                        <h2>Conventions and trends</h2>
                        <p>Coming from a design background not only means having a good grip on design terminology, but also that you’re likely to be familiar with the conventions and trends in web or app designs. Most times, UX designers make use of standardized conventions (like a toggle switch for on/off states, dropdown list for multiple options, etc.) because users have come to expect these interactions on a website. Graphic designers—especially if you’ve created prototypes in the past—are also familiar with such conventions. That means you’ll adapt more quickly to a UX design role than someone who comes from a non-design background. This might not sound like much, but communication is the core of any UX design project and being able to talk-the-talk is a big benefit.</p>

            </div>
        </div>
    </div>
    </section>


   
